/.obsidian/appearance.json
/.obsidian/workspace-mobile.json
/.obsidian/core-plugins.json
.obsidian/graph.json
.obsidian/workspace.json
/.obsidian/plugins
.obsidian/.DS_Store
/.obsidian/community-plugins.json
/.obsidian/themes